In [29]:
# Import necessary libraries
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use("/home/lyrax/matplotlib-dracula/dracula.mplstyle")
import seaborn as sns

import datetime

from tqdm import tqdm, trange

In [2]:
data = pd.read_csv("data/data_clean.csv", parse_dates=['participant_date_of_birth', 'treatment_created_date',
                                                       'claim_finalized_date'])
data.head(3)

,Serial Number,claim_status,provider_type,provider_region,program_cover,participant_date_of_birth,participant_gender,treatment_created_date,claim_finalized_date,item_status,item_name,item_amount,item_quantity,total_item_amount,diagnoses
0,162967.0,Approved,Specialist,NAIROBI,DENTAL,1987-12-19,FEMALE,2021-01-19 10:45:21,2021-01-19 22:38:08,APPROVED,Simple Extraction Permanent,3000.0,1,3000.0,Dental caries
1,162967.0,Approved,Specialist,NAIROBI,DENTAL,1987-12-19,FEMALE,2021-01-19 10:45:21,2021-01-19 22:38:08,APPROVED,Dental Consultation,1500.0,1,1500.0,Dental caries
2,164883.0,Approved,Specialist,NAIROBI,DENTAL,1977-01-01,FEMALE,2021-01-22 10:49:08,2021-01-28 10:48:12,APPROVED,Dental consultation,1500.0,1,1500.0,Dental caries

In [40]:
((pd.to_datetime(datetime.date.today()) - data.participant_date_of_birth).dt.days) / 364

0         34.085165
1         34.085165
2         45.085165
3         45.085165
4         45.085165
            ...
167167    29.692308
167168    29.692308
167169    29.692308
167170    29.692308
167171    29.692308
Name: participant_date_of_birth, Length: 167172, dtype: float64

In [41]:
# new features from dates
data['participant_age'] = ((pd.to_datetime(datetime.date.today()) - data.participant_date_of_birth).dt.days) / 364


data['participant_yearOB'] = data.participant_date_of_birth.dt.year.astype(int)
data['participant_monthOB'] = data.participant_date_of_birth.dt.month.astype(int)
data['participant_dayOB'] = data.participant_date_of_birth.dt.day.astype(int)

data['treat_cr_year'] = data.treatment_created_date.dt.year.astype(int)
data['treat_cr_month'] = data.treatment_created_date.dt.month.astype(int)
data['treat_cr_day'] = data.treatment_created_date.dt.day.astype(int)
data['treat_cr_weekday'] = pd.Series(data.treatment_created_date.dt.weekday).apply(lambda x: 1 if x<5 else 0).astype(int)

data['claim_final_year'] = data.claim_finalized_date.dt.year.astype(int)
data['claim_final_month'] = data.claim_finalized_date.dt.month.astype(int)
data['claim_final_day'] = data.claim_finalized_date.dt.day.astype(int)
data['claim_final_weekday'] = pd.Series(data.claim_finalized_date.dt.weekday).apply(lambda x: 1 if x<5 else 0).astype(int)

data.sample(3)

,Serial Number,claim_status,provider_type,provider_region,program_cover,participant_date_of_birth,participant_gender,treatment_created_date,claim_finalized_date,item_status,...,treat_cr_year,treat_cr_month,treat_cr_day,treat_cr_weekday,claim_final_year,claim_final_month,claim_final_day,claim_final_weekday,treat_claim_diff,participant_age
107295,166384.0,Approved,Clinic,MIGORI,OUTPATIENT,1987-04-04,FEMALE,2021-01-24 14:12:05,2021-01-25 13:55:37,APPROVED,...,2021,1,24,0,2021,1,25,1,0,34.796703
73113,204385.0,Approved,Hospital,UASIN GISHU,OUTPATIENT,1967-03-31,MALE,2021-03-24 14:45:09,2021-03-27 06:50:57,APPROVED,...,2021,3,24,1,2021,3,27,0,2,54.876374
154124,173332.0,Approved,Clinic,NAIROBI,OUTPATIENT,1984-05-04,MALE,2021-02-05 11:13:20,2021-02-08 13:30:29,APPROVED,...,2021,2,5,1,2021,2,8,1,3,37.722527

In [4]:
# days from treatment creation to claim finalization
data['treat_claim_diff'] = (data.claim_finalized_date - data.treatment_created_date).dt.days

In [42]:
data['Serial Number'].value_counts()

206653.0    34
194251.0    31
182946.0    30
165925.0    27
159507.0    26
            ..
168982.0     1
173515.0     1
184545.0     1
180846.0     1
157070.0     1
Name: Serial Number, Length: 51322, dtype: int64

In [43]:
len(data)

167172